.scrollTop{
    position: fixed;
    bottom: 800px;
    right: 40px;
    width: 60px;
    height: 60px;
    background: rgb(132, 121, 121) url(../Images/arrow-bar-up.svg);
    border-radius: 50%;
    background-size: 40px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    z-index: 100000;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}
.scrollTop.active
{
    bottom: 40px;
    visibility: visible;
    opacity: 1;
}

/* .circle {
    position: absolute;
    padding: 47%;
    width: 76%;
    height: 200%;
    background: #ff25637e;
    pointer-events: none;
    transition: 0.1s;
    clip-path: circle(25px at var(--x) var(--y));
} */
